$green: #60c560

a
  color: $green

.navbar .container-fluid.top-bar form .form-control
  &:focus
    border-color: $green

.navbar .container-fluid.main-nav .nav-collapse .nav > li > a.current
  color: $green

.widget-container .heading
  color: $green

.dropdown-menu li a:hover
  border-bottom-color: $green
  color: $green

.form-control
  &:focus
    border-color: $green

.stats-container [class^="col-"] .number, .stats-container [class*="col-"] .number
  color: $green

.task-widget input[type="checkbox"]:checked + .task-checkbox
  color: $green

.select2-container-active .select2-choice, .select2-container-active .select2-choices
  border-color: $green

.select2-container-multi.select2-container-active .select2-choices
  border-color: $green

.select2-drop-active
  border-color: $green

.dataTable th
  color: $green

  &.sorting
    &:after
      border-top: 5px solid $green
    &:before
      border-bottom: 5px solid $green

  &.sorting_asc
    &:after
      border-bottom: 5px solid $green

  &.sorting_desc
    &:after
      border-top: 5px solid $green