.page-title
  h1 Forms

.row
  .col-lg-6
    .widget-container.fluid-height.clearfix
      .heading
        i.icon-adjust
        | Form Components

      .widget-content.padded
        .col-lg-12
          form.form-horizontal action="#"
            .form-group
              label.control-label.col-lg-3 Input
              .col-lg-9
                input.form-control placeholder="Text" type="text"
            .form-group
              label.control-label.col-lg-3 Dropdown
              .col-lg-9
                select.form-control
                  option value="Category 1" Option 1
                  option value="Category 2" Option 2
                  option value="Category 3" Option 3
                  option value="Category 4" Option 4
            .form-group
              label.control-label.col-lg-3 Multi-Select Dropdown
              .col-lg-9
                select.form-control multiple=""
                  option value="Category 1" Option 1
                  option value="Category 2" Option 2
                  option value="Category 3" Option 3
                  option value="Category 4" Option 4
            .form-group
              label.control-label.col-lg-3 Select2 Dropdown
              .col-lg-9
                select.select2able
                  option value="Category 1" Option 1
                  option value="Category 2" Option 2
                  option value="Category 3" Option 3
                  option value="Category 4" Option 4
            .form-group
              label.control-label.col-lg-3 Multi-Select2
              .col-lg-9
                select.select2able multiple=""
                  option value="Category 1" Option 1
                  option value="Category 2" Option 2
                  option value="Category 3" Option 3
                  option value="Category 4" Option 4

            .form-group
              label.control-label.col-lg-3 Username Input
              .col-lg-9
                .input-group
                  span.input-group-addon @
                  input.form-control placeholder="Username" type="text"

            .form-group
              label.control-label.col-lg-3 Currency Input
              .col-lg-9
                .input-group
                  span.input-group-addon $
                  input.form-control type="text"
                    span.input-group-addon .00


            fieldset disabled=""
              .form-group
                label.control-label.col-lg-3 for="disabledInput" Disabled Input
                .col-lg-9
                  input#disabledInput.form-control placeholder="Disabled input" type="text"
              .form-group
                label.control-label.col-lg-3 for="disabledInput" Disabled Select
                .col-lg-9
                  select#disabledSelect.form-control
                    option Disabled select

            .form-group
              label.control-label.col-lg-3 Radio Buttons
              .col-lg-9
                label.radio
                  input name="optionsRadios1" type="radio" value="option1"
                  | Option 1
                label.radio
                  input checked="" name="optionsRadios1" type="radio" value="option2"
                  | Option 2
                label.radio
                  input name="optionsRadios1" type="radio" value="option3"
                  | Option 3

            .form-group
              label.control-label.col-lg-3 Radio Buttons
              .col-lg-9
                label.radio-inline
                  input name="optionsRadios2" type="radio" value="option1"
                  | Option 1
                label.radio-inline
                  input checked="" name="optionsRadios2" type="radio" value="option2"
                  | Option 2
                label.radio-inline
                  input name="optionsRadios2" type="radio" value="option3"
                  | Option 3
            .form-group
              label.control-label.col-lg-3 Checkbox
              .col-lg-9
                label.checkbox
                  input type="checkbox" value=""
                  | Checkbox 1
                label.checkbox
                  input type="checkbox" value=""
                  | Checkbox 2
                label.checkbox
                  input type="checkbox" value=""
                  | Checkbox 3
            .form-group
              label.control-label.col-lg-3 Checkbox
              .col-lg-9
                label.checkbox-inline
                  input type="checkbox" value=""
                  | Checkbox 1
                label.checkbox-inline
                  input type="checkbox" value=""
                  | Checkbox 2
                label.checkbox-inline
                  input type="checkbox" value=""
                  | Checkbox 3

            .form-group
              label.control-label.col-lg-3 Textarea
              .col-lg-9
                textarea.form-control rows="3"

            .form-actions.col-lg-offset-3.col-lg-9
              button.btn.btn-primary type="submit" Submit
              button.btn.btn-default-outline Cancel

  .col-lg-6
    .row
      .col-lg-12
        .widget-container.fluid-height.clearfix
          .heading
            i.icon-adjust
            | User Profile

          .widget-content.padded
            form
              fieldset
                .form-group
                  label for="exampleInputFile" User photo
                  br/
                  = image_tag "avatar-female.jpg", :size => "150x150", class: 'form-photo'
                  input#exampleInputFile type="file"
                .form-group
                  label for="exampleInputEmail" Email
                  input#exampleInputEmail.form-control placeholder="Enter email" type="text"
                .form-group
                  label for="exampleInputPassword" Password
                  input#exampleInputPassword.form-control placeholder="Password" type="password"
                .form-group
                  label for="exampleInputPassword" Profile
                  textarea class="form-control" rows="3"
                .form-group
                  label Industry
                  select.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                .form-group
                  label.checkbox
                    input type="checkbox"
                    | I agree to the terms and conditions
                button.btn.btn-primary type="submit" Submit
                button.btn.btn-default-outline Cancel

      .col-lg-12
        .widget-container
          .heading
            i.icon-adjust
            | Validations

          .widget-content.padded
            .form-group.has-warning
              label.control-label for="inputWarning" Warning
              input#inputWarning.form-control type="text"
            .form-group.has-error
              label.control-label for="inputError" Error
              input#inputError.form-control type="text"
            .form-group.has-success
              label.control-label for="inputSuccess" Success
              input#inputSuccess.form-control type="text"
