.page-title
  h1 Grid Layout

.grid-structure
  .row
    .col-lg-12
      .widget-container.fluid-height span12
  .row
    .col-lg-11 
      .widget-container.fluid-height span11
    .col-lg-1 
      .widget-container.fluid-height span1
  .row
    .col-lg-10 
      .widget-container.fluid-height span10
    .col-lg-2 
      .widget-container.fluid-height span2
  .row
    .col-lg-9 
      .widget-container.fluid-height span9
    .col-lg-3
      .widget-container.fluid-height span3
  .row
    .col-lg-8
      .widget-container.fluid-height span8
    .col-lg-4
      .widget-container.fluid-height span4
  .row
    .col-lg-7
      .widget-container.fluid-height span7
    .col-lg-5
      .widget-container.fluid-height span5
  .row
    .col-lg-6
      .widget-container.fluid-height span6
    .col-lg-6
      .widget-container.fluid-height span6
  .row
    .col-lg-5
      .widget-container.fluid-height span5
    .col-lg-7
      .widget-container.fluid-height span7
  .row
    .col-lg-4
      .widget-container.fluid-height span4
    .col-lg-8
      .widget-container.fluid-height span8
  .row
    .col-lg-3
      .widget-container.fluid-height span3
    .col-lg-9
      .widget-container.fluid-height span9
  .row
    .col-lg-2
      .widget-container.fluid-height span2
    .col-lg-10
      .widget-container.fluid-height span10
  .row
    .col-lg-1
      .widget-container.fluid-height span1
    .col-lg-11
      .widget-container.fluid-height span11
  .row
    .col-lg-2
      .widget-container.fluid-height span2
    .col-lg-3
      .widget-container.fluid-height span3
    .col-lg-4
      .widget-container.fluid-height span4
    .col-lg-2
      .widget-container.fluid-height span2
    .col-lg-1
      .widget-container.fluid-height span1
