doctype html
html
  head
    title hightop - Dashboard
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:100,300,400,700", media: "all"

    = stylesheet_link_tag "bootstrap.min", media: "all"
    = stylesheet_link_tag "font-awesome.min", media: "all"
    = stylesheet_link_tag "hightop-font", media: "all"
    = stylesheet_link_tag "style", media: "all"

    = javascript_include_tag "http://code.jquery.com/jquery-1.10.2.min.js"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js"
    = javascript_include_tag "bootstrap.min"
    = javascript_include_tag "modernizr.custom"
    = javascript_include_tag "main"

    = javascript_include_tag "application"

    meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"

  body.fourofour.bg-danger

    <!-- Login Screen -->
    .fourofour-container
      h1
        i.fa.fa-unlink
      h2 500 Error! Something broke!
      a.btn.btn-lg.btn-default-outline href="index.html"
        i.fa.fa-home
        | Return to the homepage


    <!-- End Login Screen -->
