// Welcome to Compass.
// In this file you should write your main styles. (or centralize your imports)
// Import this file using the following HTML or equivalent:
// <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

// @import compass/reset

@import "bootstrap"
@import "bootstrap-responsive"

body
  font-family: "Helvetica Neue", 'Lato', sans-serif
  background: #eee
  padding-top: 110px

.navbar
  background: rgba(255,255,255,.95)
  box-shadow: 0 1px 1px rgba(0,0,0,.1)

  .container-fluid.top-bar
    height: 45px
    border-bottom: 1px solid #e6e6e6

    .logo
      background: url(../assets/se7en-logo.png) no-repeat 0 0
      width: 54px
      height: 16px
      display: inline-block
      text-indent: -9999em
      margin: 6px 20px 0 0
      vertical-align: middle

    form
      display: inline-block
      vertical-align: middle
      margin-top: 2px

      input[type="text"]
        height: 30px
        border-color: #e6e6e6
        box-shadow: none

  .nav > li > a
    padding: 0

