// Welcome to Compass.
// In this file you should write your main styles. (or centralize your imports)
// Import this file using the following HTML or equivalent:
// <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

// @import compass/reset

$brown: #5f4942
$orange: #e99819

@import "font-awesome"

/*-----------------------------------------------------------------------------------*/
/*  Mixins/variables
/*-----------------------------------------------------------------------------------*/
$blue: #007aff

@mixin inline-block
  display: inline-block
  *display: inline
  zoom: 1

.inline
  @include inline-block


/*-----------------------------------------------------------------------------------*/
/*  Document Setup
/*-----------------------------------------------------------------------------------*/
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  outline: 0 !important

body
  font-family: 'Lato', sans-serif
  background: #eee
  padding-top: 140px

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif
  margin: 0 0 15px

p
  margin-bottom: 15px

  &.lead
    font-weight: 300

strong
  font-weight: 700

a
  color: $blue

ul 
  &.no-style
    list-style: none
    padding: 0
    margin-left: 0

li
  margin-bottom: 5px

blockquote
  padding-bottom: 4px
  margin-bottom: 30px
  
  p
    margin-bottom: 10px

  &.pull-right
    text-align: right

dl 
  margin: 0 0 20px

  dd 
    margin-bottom: 15px

::-moz-selection
  background: $blue
  color: #FFF
  text-shadow: none

::selection
  background: $blue
  color: #FFF
  text-shadow: none


/*-----------------------------------------------------------------------------------*/
/*  Header Styles
/*-----------------------------------------------------------------------------------*/
.navbar
  background: rgba(248,248,248,.94)
  box-shadow: 0 1px 1px rgba(0,0,0,.15)
  padding: 0
  min-height: 45px
  height: 112px
  -webkit-transition: all .3s

  &.closed
    height: 45px

  .container-fluid.top-bar
    height: 46px
    border-bottom: 1px solid #e6e6e6
    padding: 0 10px 0 20px

    .logo
      background: url(../assets/se7en-logo.png) no-repeat 0 0
      width: 54px
      height: 16px
      float: left
      text-indent: -9999em
      margin: 14px 10px 0 0
      vertical-align: middle

    form
      input[type="text"]
        height: 30px
        border-color: #e6e6e6
        box-shadow: none
        background: #FFF url(../assets/icon-search.png) no-repeat center left
        padding-left: 24px
        margin-top: 1px

    .nav
      height: 100%

      > li
        height: 100%
        width: 45px
        margin-right: 5px
        float: left

        > a
          display: block
          height: 100%
          padding: 8px 0 0 8px
          position: relative

          &:hover
            background: #eee

          > span
            background: url(../assets/admin-sprite.png) no-repeat top left
            display: block
            width: 28px
            height: 28px
            text-indent: -9999em

          p.counter
            position: absolute
            top: 5px
            left: -2px
            height: 18px
            min-width: 18px
            padding: 0 5px
            border-radius: 9px
            background: #e62828
            text-align: center
            line-height: 16px
            color: #FFF
            font-size: 11px
            font-weight: 100

        &.open, &.active, &.open.active
          > a
            background-color: #eee
            span
              background-position: left bottom

        &.messages
          a > span
            background-position: -28px top

          &.open, &.active, &.open.active
            > a
              background-color: #eee
              span
                background-position: -28px bottom

        &.settings
          a > span
            background-position: -56px top

          &.open, &.active, &.open.active
            > a
              background-color: #eee
              span
                background-position: -56px bottom

        &.user
          width: auto
          margin-left: 5px
          margin-right: 0

          > a
            padding: 5px 10px 0
            color: #999

          img
            border-radius: 50%
            margin-right: 8px

          .caret
            vertical-align: middle
            margin: -2px 0 0 8px
            border-top-color: #999

  .container-fluid.main-nav
    height: 66px

    .nav-collapse
      width: 100%

      .nav
        text-align: center
        width: 100%
        height: 100%

        > li
          float: none
          display: inline-block
          text-align: center
          margin: 0 10px

          > a
            display: block
            height: 100%
            text-align: center
            padding: 10px 15px 0
            font-size: 12px
            font-weight: 400
            color: #999

            span
              background: url(../assets/nav-sprite.png) no-repeat top left
              display: block
              width: 28px
              height: 28px
              margin: 0 auto 2px

            .caret
              margin-left: 6px
              margin-right: -6px
              border-top-color: #999

            &.current
              color: $blue

              span
                background-position: left bottom

              .caret
                border-top-color: $blue

            &:hover
              background: #eee

          .dropdown-menu
            text-align: left

          &.ui
            a
              span
                background-position: -28px top

              &.current span
                background-position: -28px bottom

          &.forms
            a
              span
                background-position: -56px top

              &.current span
                background-position: -56px bottom

          &.charts
            a
              span
                background-position: -84px top

              &.current span
                background-position: -84px bottom

          &.pages
            a
              span
                background-position: -112px top

              &.current span
                background-position: -112px bottom

          &.gallery
            a
              span
                background-position: -140px top

              &.current span
                background-position: -140px bottom

  .nav > li > a
    padding: 0

  .nav > li > .dropdown-menu:before,
  .nav > li > .dropdown-menu:after
    display: none


/*-----------------------------------------------------------------------------------*/
/*  Page Styles
/*-----------------------------------------------------------------------------------*/
.page-title
  h1
    margin: 0 20px 25px
    color: #999
    font-weight: 300

/*-----------------------------------------------------------------------------------*/
/*  Button Styles
/*-----------------------------------------------------------------------------------*/
.btn
  font-weight: 300
  margin-right: 5px
  margin-left: 5px
  margin-bottom: 20px
  -webkit-transition: border-color 0.1s linear
  transition: border-color 0.1s linear

  &:hover
    color: $blue
    background: none
    // box-shadow: inset 0 3px 6px rgba(0,0,0,0.1)

  &:active
    color: $blue
    background: #fafafa
    box-shadow: none

.btn-default-outline
  color: #999999
  background: none
  border: 1px solid #999999

  &:focus 
    background: none
    border-color: #474949

  &:hover
    background: none
    border-color: #474949
    color: #474949

  &:active
    background: none
    border-color: $blue
    color: $blue

.btn-primary-outline
  color: $blue
  background: none
  border: 1px solid $blue

  &:focus 
    background: none
    border-color: #1e70c9

  &:hover
    background: none
    border-color: #1e70c9
    color: #1e70c9

  &:active
    background: none
    border-color: #1e70c9
    color: #1e70c9

.btn-success-outline
  color: #5cb85c
  background: none
  border: 1px solid #5cb85c

  &:focus 
    background: none
    border-color: #4cae4c

  &:hover
    background: none
    border-color: #4cae4c
    color: #4cae4c

  &:active
    background: none
    border-color: #4cae4c
    color: #4cae4c


.btn-info-outline
  color: #5bc0de
  background: none
  border: 1px solid #5bc0de

  &:focus 
    background: none
    border-color: #46b8da

  &:hover
    background: none
    border-color: #46b8da
    color: #46b8da

  &:active
    background: none
    border-color: #46b8da
    color: #46b8da

.btn-warning-outline
  color: #f0ad4e
  background: none
  border: 1px solid #f0ad4e

  &:focus 
    background: none
    border-color: #ec971f

  &:hover
    background: none
    border-color: #ec971f
    color: #ec971f

  &:active
    background: none
    border-color: #ec971f
    color: #ec971f

.btn-danger-outline
  color: #d9534f
  background: none
  border: 1px solid #d9534f

  &:focus 
    background: none
    border-color: #c9302c

  &:hover
    background: none
    border-color: #c9302c
    color: #c9302c

  &:active
    background: none
    border-color: #c9302c
    color: #c9302c

/*-----------------------------------------------------------------------------------*/
/*  Dropdown Styles
/*-----------------------------------------------------------------------------------*/
.dropdown-menu
  margin-top: 1px
  border-radius: 0
  box-shadow: 0 1px 2px rgba(0,0,0,.2)
  background: rgba(255,255,255,.95)
  border: 0
  padding: 0

  > li
    margin: 0
    > a
      padding: 10px 15px 10px 2px
      border-bottom: 1px solid #e2e2e2
      color: #999
      font-size: 12px
      margin-left: 14px

      &:hover
        border-bottom-color: $blue
        color: $blue
        background: transparent

      i
        margin-right: 10px
        font-size: 18px
        vertical-align: middle

    &:last-child
      > a
        border: 0

  &.right
    left: auto
    right: 0px
    
    &:before
      left: auto !important
      right: 9px
    
    &:after
      left: auto !important
      right: 10px


/*-----------------------------------------------------------------------------------*/
/*  Statistics Figures
/*-----------------------------------------------------------------------------------*/
.stats-container
  height: 120px
  background: white
  // border: 1px solid #d8d8d8
  box-shadow: 0 1px 1px rgba(0,0,0,.1)
  padding: 8px 0 0 0
  text-align: center

.number
  font-size: 5em
  font-weight: 100
  color: #007aff
  line-height: 1.1em

.text
  font-weight: 300
  color: #999


/*-----------------------------------------------------------------------------------*/
/*  Widget-Container
/*-----------------------------------------------------------------------------------*/
.widget-container
  min-height: 320px
  background: white
  box-shadow: 0 1px 2px rgba(0,0,0,.1)

  &.fluid-height
    height: auto

  &.small
    height: 120px

  .heading
    background: rgba(255, 255, 255, 0.5)
    padding: 12px 15px
    color: $blue
    font-size: 15px
    width: 100%

    [class^="icon-"], [class*="icon-"]
      margin-right: 10px
      &.pull-right
        margin-right: 0px

  .widget-content
    overflow: auto
    width: 100%

.widget-scroll
  position:relative

  .heading
  position: absolute !important

  .scroll-content
  height: 220px
  overflow-y: scroll
  overflow: hidden

.padded
  padding: 10px 15px 10px

.headings-example
  h1
    color: #000
    font-weight: 400

/*-----------------------------------------------------------------------------------*/
/*  jQuery Sparkline Tooltip fix
/*-----------------------------------------------------------------------------------*/
.jqstooltip
  -webkit-box-sizing: content-box
  -moz-box-sizing: content-box
  box-sizing: content-box

/*-----------------------------------------------------------------------------------*/
/*  jQuery Easy Pie Chart Styles
/*-----------------------------------------------------------------------------------*/
.easyPieChart
  position: relative
  text-align: center
  margin: 5px auto 0

  canvas
    position: absolute
    top: 0
    left: 0

.pie-number
  font-size: 4.5em
  font-weight: 100
  letter-spacing: -.05em
  color: #BBB


/*-----------------------------------------------------------------------------------*/
/*  Icons
/*-----------------------------------------------------------------------------------*/
.icons
  .row
    margin: 0 !important

    .col-lg-3
      padding: 8px 20px 8px 5px !important
      height: 38px
      border-radius: 5px
      margin-bottom: 0 !important
      cursor: pointer
      color: #666
      -webkit-transition: all .2s
      -moz-transition: all .2s
      transition: all .2s

      [class^="icon-"], [class*="icon-"]
        width: 32px
        font-size: 16px
        display: inline-block
        text-align: center
        margin-right: 10px
        vertical-align: middle
        -webkit-transition: all .12s
        -moz-transition: all .12s
        transition: all .12s

      &:hover
        background-color: #f6f6f6

        [class^="icon-"], [class*="icon-"]
          font-size: 24px
          margin-top: -2px

/*-----------------------------------------------------------------------------------*/
/*  Grid Structure
/*-----------------------------------------------------------------------------------*/
.grid-structure
  .row
    .widget-container
      color: #999
      padding: 10px 15px 12px



/*-----------------------------------------------------------------------------------*/
/*  jQuery Map Styles
/*-----------------------------------------------------------------------------------*/
.jqvmap-label
  position: absolute
  display: none
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  background: #292929
  color: white
  font-family: sans-serif, Verdana
  font-size: smaller
  padding: 3px

.jqvmap-zoomin, .jqvmap-zoomout
  position: absolute
  left: 10px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  background: #000000
  padding: 3px
  color: white
  width: 10px
  height: 10px
  cursor: pointer
  line-height: 10px
  text-align: center

.jqvmap-zoomin
  top: 10px

.jqvmap-zoomout
  top: 30px

.jqvmap-region
  cursor: pointer

.jqvmap-ajax_response
  width: 100%
  height: 500px


/*-----------------------------------------------------------------------------------*/
/*  Responsive Styles
/*-----------------------------------------------------------------------------------*/
.row
  margin: 0 10px 0

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
  padding: 0 10px
  margin-bottom: 20px


/*-----------------------------------------------------------------------------------*/
/*  Mobile Styles
/*-----------------------------------------------------------------------------------*/
@media (max-width: 979px)
  body
    padding-top: 80px
  .navbar
    .container-fluid.top-bar
      .logo
        margin: 6px 15px 0 12px

      .btn-navbar
        background: $blue
        border: 0
        box-shadow: none
        margin-top: 9px

        span.icon-bar
          background-color: #FFF
          box-shadow: none

@media (max-width: 767px)
  

.ico
  text-align: center
