// Welcome to Compass.
// In this file you should write your main styles. (or centralize your imports)
// Import this file using the following HTML or equivalent:
// <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

// @import compass/reset

$brown: #5f4942
$orange: #e99819

@import "bootstrap"
@import "bootstrap-responsive"
@import "font-awesome"

/*-----------------------------------------------------------------------------------*/
/*  Mixins/variables
/*-----------------------------------------------------------------------------------*/
$blue: #007aff

@mixin inline-block
  display: inline-block
  *display: inline
  zoom: 1

.inline
  @include inline-block


/*-----------------------------------------------------------------------------------*/
/*  Document Setup
/*-----------------------------------------------------------------------------------*/
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  outline: 0 !important

body
  font-family: 'Lato', sans-serif
  background: #eee
  padding-top: 140px

h1
  margin: 0 0 15px

p
  margin-bottom: 15px

  &.lead
    font-weight: 300

strong
  font-weight: 700

a
  color: $blue

ul 
  &.no-style
    list-style: none
    padding: 0
    margin-left: 0

li
  margin-bottom: 5px

blockquote
  padding-bottom: 4px
  margin-bottom: 30px
  
  p
    margin-bottom: 10px

  &.pull-right
    text-align: right

dl 
  margin: 0 0 20px

  dd 
    margin-bottom: 15px

::-moz-selection
  background: $blue
  color: #FFF
  text-shadow: none

::selection
  background: $blue
  color: #FFF
  text-shadow: none


/*-----------------------------------------------------------------------------------*/
/*  Header Styles
/*-----------------------------------------------------------------------------------*/
.navbar
  background: rgba(248,248,248,.94)
  box-shadow: 0 1px 1px rgba(0,0,0,.15)

  .container-fluid.top-bar
    height: 46px
    border-bottom: 1px solid #e6e6e6

    .logo
      background: url(../assets/se7en-logo.png) no-repeat 0 0
      width: 54px
      height: 16px
      display: inline-block
      text-indent: -9999em
      margin: 6px 20px 0 0
      vertical-align: middle

    form
      display: inline-block
      vertical-align: middle
      margin-top: 2px

      input[type="text"]
        height: 30px
        border-color: #e6e6e6
        box-shadow: none
        background: #FFF url(../assets/icon-search.png) no-repeat center left
        padding-left: 24px

    .nav
      height: 100%

      > li
        height: 100%
        width: 45px
        margin-right: 5px

        > a
          display: block
          height: 100%
          padding: 8px 0 0 8px
          position: relative

          &:hover
            background: #eee

          > span
            background: url(../assets/admin-sprite.png) no-repeat top left
            display: block
            width: 28px
            height: 28px
            text-indent: -9999em

          p.counter
            position: absolute
            top: 5px
            left: -2px
            height: 18px
            min-width: 18px
            padding: 0 5px
            border-radius: 9px
            background: #e62828
            text-align: center
            line-height: 16px
            color: #FFF
            font-size: 11px
            font-weight: 100

        &.open, &.active, &.open.active
          > a
            background-color: #eee
            span
              background-position: left bottom

        &.messages
          a > span
            background-position: -28px top

          &.open, &.active, &.open.active
            > a
              background-color: #eee
              span
                background-position: -28px bottom

        &.settings
          a > span
            background-position: -56px top

          &.open, &.active, &.open.active
            > a
              background-color: #eee
              span
                background-position: -56px bottom

        &.user
          width: auto
          margin-left: 5px

          > a
            padding: 5px 10px 0
            color: #999

          img
            border-radius: 50%
            margin-right: 8px

          .caret
            vertical-align: middle
            margin: -2px 0 0 8px
            border-top-color: #999

  .container-fluid.main-nav
    height: 66px

    .nav
      text-align: center
      width: 100%
      height: 100%

      > li
        float: none
        display: inline-block
        text-align: center
        margin: 0 10px

        > a
          display: block
          height: 100%
          text-align: center
          padding: 10px 15px 0
          font-size: 12px
          font-weight: 400
          color: #999

          span
            background: url(../assets/nav-sprite.png) no-repeat top left
            display: block
            width: 28px
            height: 28px
            margin: 0 auto 2px

          .caret
            margin-left: 6px
            margin-right: -6px
            border-top-color: #999

          &.current
            color: $blue

            span
              background-position: left bottom

            .caret
              border-top-color: $blue

          &:hover
            background: #eee

        .dropdown-menu
          text-align: left

        &.ui
          a
            span
              background-position: -28px top

            &.current span
              background-position: -28px bottom

        &.forms
          a
            span
              background-position: -56px top

            &.current span
              background-position: -56px bottom

        &.charts
          a
            span
              background-position: -84px top

            &.current span
              background-position: -84px bottom

        &.pages
          a
            span
              background-position: -112px top

            &.current span
              background-position: -112px bottom

        &.gallery
          a
            span
              background-position: -140px top

            &.current span
              background-position: -140px bottom

  .nav > li > a
    padding: 0

  .nav > li > .dropdown-menu:before,
  .nav > li > .dropdown-menu:after
    display: none


/*-----------------------------------------------------------------------------------*/
/*  Page Styles
/*-----------------------------------------------------------------------------------*/
.page-title
  h1
    margin: 0 0 25px
    color: #999
    font-weight: 300


/*-----------------------------------------------------------------------------------*/
/*  Dropdown Styles
/*-----------------------------------------------------------------------------------*/
.dropdown-menu
  margin-top: 1px
  border-radius: 0
  box-shadow: 0 1px 2px rgba(0,0,0,.2)
  background: rgba(255,255,255,.95)
  border: 0
  padding: 0

  > li
    margin: 0
    > a
      padding: 10px 15px 10px 2px
      border-bottom: 1px solid #e2e2e2
      color: #999
      font-size: 12px
      margin-left: 14px

      &:hover
        border-bottom-color: $blue
        color: $blue
        background: transparent

      i
        margin-right: 10px
        font-size: 18px
        vertical-align: middle

    &:last-child
      > a
        border: 0

  &.right
    left: auto
    right: 0px
    
    &:before
      left: auto !important
      right: 9px
    
    &:after
      left: auto !important
      right: 10px


/*-----------------------------------------------------------------------------------*/
/*  Statistics Figures
/*-----------------------------------------------------------------------------------*/
.stats-container
  height: 120px
  background: white
  // border: 1px solid #d8d8d8
  box-shadow: 0 1px 1px rgba(0,0,0,.1)
  padding: 8px 0 0 0
  text-align: center

.number
  font-size: 5em
  font-weight: 100
  color: #007aff
  line-height: 1.1em

.text
  font-weight: 300
  color: #999


/*-----------------------------------------------------------------------------------*/
/*  Widget-Container
/*-----------------------------------------------------------------------------------*/
.widget-container
  height: 320px
  background: white
  // border: 1px solid #d8d8d8
  box-shadow: 0 1px 2px rgba(0,0,0,.1)

  &.fluid-height
    height: auto

  &.small
    height: 120px
    // border: 1px solid #d8d8d8

  .heading
    background: rgba(255, 255, 255, 0.5)
    padding: 12px 15px
    color: $blue
    font-size: 15px
    width: 100%

    [class^="icon-"], [class*="icon-"]
      margin-right: 10px
      &.pull-right
        margin-right: 0px

  .widget-content
    overflow: auto
    &.padded
      padding: 10px 15px 10px

.widget-scroll
  position:relative

  .heading
  position: absolute !important

  .scroll-content
  height: 220px
  overflow-y: scroll
  overflow: hidden

.headings-example
  h1
    color: #000
    font-weight: 400

/*-----------------------------------------------------------------------------------*/
/*  jQuery Sparkline Tooltip fix
/*-----------------------------------------------------------------------------------*/
.jqstooltip
  -webkit-box-sizing: content-box
  -moz-box-sizing: content-box
  box-sizing: content-box

/*-----------------------------------------------------------------------------------*/
/*  jQuery Easy Pie Chart Styles
/*-----------------------------------------------------------------------------------*/
.easyPieChart
  position: relative
  text-align: center
  margin: 5px auto 0

  canvas
    position: absolute
    top: 0
    left: 0

.pie-number
  font-size: 4.5em
  font-weight: 100
  letter-spacing: -.05em
  color: #BBB


/*-----------------------------------------------------------------------------------*/
/*  Icons
/*-----------------------------------------------------------------------------------*/
.icons
  .span3
    padding: 8px 20px 8px 5px !important
    height: 38px
    border-radius: 5px
    margin-bottom: 0 !important
    cursor: pointer
    color: #666
    -webkit-transition: all .2s
    -moz-transition: all .2s
    transition: all .2s

    [class^="icon-"], [class*="icon-"]
      width: 32px
      font-size: 16px
      display: inline-block
      text-align: center
      margin-right: 10px
      vertical-align: middle
      -webkit-transition: all .12s
      -moz-transition: all .12s
      transition: all .12s

    &:hover
      background-color: #f6f6f6

      [class^="icon-"], [class*="icon-"]
        font-size: 24px
        margin-top: -2px

/*-----------------------------------------------------------------------------------*/
/*  Grid Structure
/*-----------------------------------------------------------------------------------*/
.grid-structure
  .row-fluid
    [class^="span"], [class*="span"]
      color: #999

      .widget-container
        padding: 10px 15px 12px



/*-----------------------------------------------------------------------------------*/
/*  jQuery Map Styles
/*-----------------------------------------------------------------------------------*/
.jqvmap-label
  position: absolute
  display: none
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  background: #292929
  color: white
  font-family: sans-serif, Verdana
  font-size: smaller
  padding: 3px

.jqvmap-zoomin, .jqvmap-zoomout
  position: absolute
  left: 10px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  background: #000000
  padding: 3px
  color: white
  width: 10px
  height: 10px
  cursor: pointer
  line-height: 10px
  text-align: center

.jqvmap-zoomin
  top: 10px

.jqvmap-zoomout
  top: 30px

.jqvmap-region
  cursor: pointer

.jqvmap-ajax_response
  width: 100%
  height: 500px


/*-----------------------------------------------------------------------------------*/
/*  Responsive Styles
/*-----------------------------------------------------------------------------------*/
.row-fluid  
  [class*="span"]
    width: 100%
    min-height: 30px
    margin: 0
    margin-bottom: 20px
    padding: 0 10px
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0
    &:only-child
      padding: 0
  .controls-row [class*="span"] + [class*="span"]
    margin-left: 2.127659574468085%
  .span12
    width: 100%
    *width: 100%
  .span11
    width: 91.66%
    *width: 91.66%
  .span10
    width: 83.33%
    *width: 83.33%
  .span9
    width: 75%
    *width: 75%
  .span8
    width: 66.66%
    *width: 66.66%
  .span7
    width: 58.33%
    *width: 58.33%
  .span6
    width: 50%
    *width: 50%
  .span5
    width: 41.66%
    *width: 41.66%
  .span4
    width: 33.33%
    *width: 33.33%
  .span3
    width: 25%
    *width: 25%
  .span2
    width: 16.66%
    *width: 16.66%
  .span1
    width: 8.33%
    *width: 8.33%
  .offset12
    margin-left: 104.25531914893617%
    *margin-left: 104.14893617021275%
    &:first-child
      margin-left: 102.12765957446808%
      *margin-left: 102.02127659574467%
  .offset11
    margin-left: 95.74468085106382%
    *margin-left: 95.6382978723404%
    &:first-child
      margin-left: 93.61702127659574%
      *margin-left: 93.51063829787232%
  .offset10
    margin-left: 87.23404255319149%
    *margin-left: 87.12765957446807%
    &:first-child
      margin-left: 85.1063829787234%
      *margin-left: 84.99999999999999%
  .offset9
    margin-left: 78.72340425531914%
    *margin-left: 78.61702127659572%
    &:first-child
      margin-left: 76.59574468085106%
      *margin-left: 76.48936170212764%
  .offset8
    margin-left: 70.2127659574468%
    *margin-left: 70.10638297872339%
    &:first-child
      margin-left: 68.08510638297872%
      *margin-left: 67.9787234042553%
  .offset7
    margin-left: 61.70212765957446%
    *margin-left: 61.59574468085106%
    &:first-child
      margin-left: 59.574468085106375%
      *margin-left: 59.46808510638297%
  .offset6
    margin-left: 53.191489361702125%
    *margin-left: 53.085106382978715%
    &:first-child
      margin-left: 51.063829787234035%
      *margin-left: 50.95744680851063%
  .offset5
    margin-left: 44.68085106382979%
    *margin-left: 44.57446808510638%
    &:first-child
      margin-left: 42.5531914893617%
      *margin-left: 42.4468085106383%
  .offset4
    margin-left: 36.170212765957444%
    *margin-left: 36.06382978723405%
    &:first-child
      margin-left: 34.04255319148936%
      *margin-left: 33.93617021276596%
  .offset3
    margin-left: 27.659574468085104%
    *margin-left: 27.5531914893617%
    &:first-child
      margin-left: 25.53191489361702%
      *margin-left: 25.425531914893618%
  .offset2
    margin-left: 19.148936170212764%
    *margin-left: 19.04255319148936%
    &:first-child
      margin-left: 17.02127659574468%
      *margin-left: 16.914893617021278%
  .offset1
    margin-left: 10.638297872340425%
    *margin-left: 10.53191489361702%
    &:first-child
      margin-left: 8.51063829787234%
      *margin-left: 8.404255319148938%


/*-----------------------------------------------------------------------------------*/
/*  Mobile Styles
/*-----------------------------------------------------------------------------------*/
@media (max-width: 979px)
  body
    padding-top: 0
  .navbar
    .container-fluid.top-bar
      .logo
        margin: 6px 15px 0 12px

      .btn-navbar
        background: $blue
        border: 0
        box-shadow: none
        margin-top: 9px

        span.icon-bar
          background-color: #FFF
          box-shadow: none

@media (max-width: 767px)
  .row-fluid 
    [class*="span"]
      display: block
      float: none
      width: 100%
      padding: 0
    
    [class*="offset"]:first-child
      padding: 0
  

.ico
  text-align: center
