.page-title
  h1
    |  Gallery
.row
  .col-lg-12
    .widget-container.fluid-height
      .heading
        i.icon-picture
        | Captions
      .widget-content.padded
        ul.gallery-grid.clearfix
          li
            figure
              img[alt="Nature1" src="nature1.jpg"]
              .caption
                h3
                  |  Path
                span
                  | by Envato
          li
            figure
              img[alt="Nature3" src="nature3.jpg"]
              .caption
                h3
                  |  Tree
                span
                  | by Envato
          li
            figure
              img[alt="Nature2" src="nature2.jpg"]
              .caption
                h3
                  |  Leaf
                span
                  | by Envato
          li
            figure
              img[alt="Nature4" src="nature4.jpg"]
              .caption
                h3
                  |  Water
                span
                  | by Envato
.row
  .col-lg-6
    .widget-container.fluid-height
      .heading
        i.icon-th-large
        | Filtering and Actions
        .gallery-filters.list-inline.btn-group.pull-right
          a.btn.btn-sm.btn-primary-outline.selected[data-filter="*" href="gallery#"]
            | All
          a.btn.btn-sm.btn-primary-outline[data-filter=".filter1" href="gallery#"]
            | Filter 1
          a.btn.btn-sm.btn-primary-outline[data-filter=".filter2" href="gallery#"]
            | Filter 2
      .widget-content.padded
        .gallery-container
          a.gallery-item.filter1.fancybox[href="image-iso5.png" rel="gallery1" title="This is a caption"]
            img[alt="Image iso5" src="image-iso5.png"]
          .actions
            i.icon-trash
            i.icon-zoom-in
            i.icon-pencil
          a.gallery-item.filter1.fancybox[href="image-iso2.jpg" rel="gallery1" title="This is a caption"]
            img[alt="Image iso2" src="image-iso2.jpg"]
          .actions
            i.icon-trash
            i.icon-zoom-in
            i.icon-pencil
          a.gallery-item.filter2.fancybox[href="image-iso3.png" rel="gallery1" title="This is a caption"]
            img[alt="Image iso3" src="image-iso3.png"]
          .actions
            i.icon-trash
            i.icon-zoom-in
            i.icon-pencil
          a.gallery-item.filter1.fancybox[href="image-iso4.png" rel="gallery1" title="This is a caption"]
            img[alt="Image iso4" src="image-iso4.png"]
          .actions
            i.icon-trash
            i.icon-zoom-in
            i.icon-pencil
          a.gallery-item.filter2.fancybox[href="image-iso6.png" rel="gallery1" title="This is a caption"]
            img[alt="Image iso6" src="image-iso6.png"]
          .actions
            i.icon-trash
            i.icon-zoom-in
            i.icon-pencil
          a.gallery-item.filter2.fancybox[href="image-iso.png" rel="gallery1" title="This is a caption"]
            img[alt="Image iso" src="image-iso.png"]
          .actions
            i.icon-trash
            i.icon-zoom-in
            i.icon-pencil
          a.gallery-item.filter2.fancybox[href="image-iso7.png" rel="gallery1" title="This is a caption"]
            img[alt="Image iso7" src="image-iso7.png"]
          .actions
            i.icon-trash
            i.icon-zoom-in
            i.icon-pencil
          a.gallery-item.filter1.fancybox[href="image-iso8.png" rel="gallery1" title="This is a caption"]
            img[alt="Image iso8" src="image-iso8.png"]
          .actions
            i.icon-trash
            i.icon-zoom-in
            i.icon-pencil
          a.gallery-item.filter2.fancybox[href="image-iso9.png" rel="gallery1" title="This is a caption"]
            img[alt="Image iso9" src="image-iso9.png"]
          .actions
            i.icon-trash
            i.icon-zoom-in
            i.icon-pencil
  .col-lg-6
    .widget-container
      .heading
        i.icon-camera
        | Carousel
      .widget-content.padded
        #carousel-example-generic.carousel.slide
          ol.carousel-indicators
            li.active[data-slide-to="0" data-target="#carousel-example-generic"]
            li[data-slide-to="1" data-target="#carousel-example-generic"]
            li[data-slide-to="2" data-target="#carousel-example-generic"]
          .carousel-inner
            .item.active
              img[alt="Image5" src="image5.jpg"]
            .item
              img[alt="Image6" src="image6.png"]
            .item
              img[alt="Image7" src="image7.png"]
          a.left.carousel-control[data-slide="prev" href="gallery#carousel-example-generic"]
            span.icon-angle-left
          a.right.carousel-control[data-slide="next" href="gallery#carousel-example-generic"]
            span.icon-angle-right
