.container-fluid
  .page-title
    h1
      | Widgets
  .row
    .col-lg-6
      .widget-container.scrollable.list.task-widget
        .heading
          i.icon-list
          |  Task list
          i.icon-plus.pull-right
        .widget-content.scrollbar
          ul
            li
              label
                input.task-input[checked="checked" type="checkbox"]
                span.task-checkbox
              .label.label-success.pull-right
                |  Approved
              |  Distribute latest marketing
            li
              label
                input.task-input[type="checkbox"]
                span.task-checkbox
              .label.label-success.pull-right
                |  Approved
              |  Create the latest mockup
            li
              label
                input.task-input[type="checkbox"]
                span.task-checkbox
              .label.label-warning.pull-right
                |  Pending
              |  Code the latest features
            li
              label
                input.task-input[checked="checked" type="checkbox"]
                span.task-checkbox
              .label.label-danger.pull-right
                |  Required
              |  Coffee time
            li
              label
                input.task-input[checked="checked" type="checkbox"]
                span.task-checkbox
              .label.label-success.pull-right
                |  Approved
              |  Distribute latest marketing
            li
              label
                input.task-input[type="checkbox"]
                span.task-checkbox
              .label.label-success.pull-right
                |  Approved
              |  Pick up lunch
            li
              label
                input.task-input[type="checkbox"]
                span.task-checkbox
              .label.label-warning.pull-right
                |  Pending
              |  Send out e-blast
            li
              label
                input.task-input[type="checkbox"]
                span.task-checkbox
              .label.label-warning.pull-right
                |  Pending
              |  Ask for a raise
            li
              label
                input.task-input[type="checkbox"]
                span.task-checkbox
              .label.label-success.pull-right
                |  Approved
              |  Coffe time pt. 2
            li
              label
                input.task-input[type="checkbox"]
                span.task-checkbox
              .label.label-success.pull-right
                |  Approved
              |  Bug fixes
            li
              label
                input.task-input[type="checkbox"]
                span.task-checkbox
              .label.label-success.pull-right
                |  Approved
              |  Happy hour!!!
    .col-lg-6
      .widget-container.scrollable.list.rating-widget
        .heading
          i.icon-comment
          |  Recent Ratings
          i.icon-refresh.pull-right
        .widget-content.scrollbar
          ul
            li
              .reviewer-info
                .star-rating.pull-right
                  i.icon-star
                  i.icon-star
                  i.icon-star
                  i.icon-star-empty
                  i.icon-star-empty
                img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
                a[href="widgets"]
                  | John Smith
                em
                  |  on 8/20/2013
              .review-text
                p
                  |  Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            li
              .reviewer-info
                .star-rating.pull-right
                  i.icon-star
                  i.icon-star
                  i.icon-star
                  i.icon-star-empty
                  i.icon-star-empty
                img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
                a[href="widgets"]
                  | John Smith
                em
                  |  on 8/20/2013
              .review-text
                p
                  |  Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy.
            li
              .reviewer-info
                .star-rating.pull-right
                  i.icon-star
                  i.icon-star-empty
                  i.icon-star-empty
                  i.icon-star-empty
                  i.icon-star-empty
                img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
                a[href="widgets"]
                  | John Smith
                em
                  |  on 8/20/2013
              .review-text
                p
                  |  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                p
                  |  Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
            li
              .reviewer-info
                .star-rating.pull-right
                  i.icon-star
                  i.icon-star
                  i.icon-star
                  i.icon-star
                  i.icon-star-empty
                img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
                a[href="widgets"]
                  | John Smith
                em
                  |  on 8/20/2013
              .review-text
                p
                  |  Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            li
              .reviewer-info
                .star-rating.pull-right
                  i.icon-star
                  i.icon-star
                  i.icon-star
                  i.icon-star-empty
                  i.icon-star-empty
                img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
                a[href="widgets"]
                  | John Smith
                em
                  |  on 8/20/2013
              .review-text
                p
                  |  Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy.
            li
              .reviewer-info
                .star-rating.pull-right
                  i.icon-star
                  i.icon-star
                  i.icon-star
                  i.icon-star-empty
                  i.icon-star-empty
                img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
                a[href="widgets"]
                  | John Smith
                em
                  |  on 8/20/2013
              .review-text
                p
                  |  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                p
                  |  Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
  .row
    .col-lg-6
      .widget-container
        .heading
          i.icon-map-marker
          |  Interactive global map
          i.icon-plus.pull-right
          i.icon-refresh.pull-right
        .widget-content
          #vmap.map[style="height: 450px;"]
    .col-lg-6
      .widget-container.scrollable.list.rollodex
        .heading
          i.icon-comment
          |  Rollodex
          i.icon-plus.pull-right
          i.icon-search.pull-right
          i.icon-refresh.pull-right
        .widget-content.scrollbar
          .roll-title
            |  A
          ul
            li
              img[alt="Avatar female" height="30" src="avatar-female.png" width="30"]
              a[href="widgets"]
                | Joan Andrews
            li
              img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
              a[href="widgets"]
                | Jose Anderson
            li
              img[alt="Avatar male2" height="30" src="avatar-male2.png" width="30"]
              a[href="widgets"]
                | Phil Aaron
          .roll-title
            |  B
          ul
            li
              img[alt="Avatar female" height="30" src="avatar-female.png" width="30"]
              a[href="widgets"]
                | Samatha Brown
            li
              img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
              a[href="widgets"]
                | Chris Baker
            li
              img[alt="Avatar female2" height="30" src="avatar-female2.png" width="30"]
              a[href="widgets"]
                | Kristin Blues
          .roll-title
            |  C
          ul
            li
              img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
              a[href="widgets"]
                | Adam Carter
            li
              img[alt="Avatar male2" height="30" src="avatar-male2.png" width="30"]
              a[href="widgets"]
                | Greg Campbell
            li
              img[alt="Avatar female2" height="30" src="avatar-female2.png" width="30"]
              a[href="widgets"]
                | Judy Collins
          .roll-title
            |  D
          ul
            li
              img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
              a[href="widgets"]
                | John Smith
          .roll-title
            |  E
          ul
            li
              img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
              a[href="widgets"]
                | John Smith
            li
              img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
              a[href="widgets"]
                | John Smith
          .roll-title
            |  F
          .roll-title
            |  G
          .roll-title
            |  H
          .roll-title
            |  I
          .roll-title
            |  J
          ul
            li
              img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
              a[href="widgets"]
                | John Smith
            li
              img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
              a[href="widgets"]
                | John Smith
            li
              img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
              a[href="widgets"]
                | John Smith
          .roll-title
            |  K
          .roll-title
            |  L
          .roll-title
            |  M
          .roll-title
            |  N
          .roll-title
            |  O
          .roll-title
            |  P
          .roll-title
            |  Q
          .roll-title
            |  R
          .roll-title
            |  S
          ul
            li
              img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
              a[href="widgets"]
                | John Smith
            li
              img[alt="Avatar male2" height="30" src="avatar-male2.png" width="30"]
              a[href="widgets"]
                | Brian Sullivan
            li
              img[alt="Avatar male" height="30" src="avatar-male.jpg" width="30"]
              a[href="widgets"]
                | Chris Stevens
          .roll-title
            |  T
          .roll-title
            |  U
          .roll-title
            |  V
          .roll-title
            |  W
          .roll-title
            |  X
          .roll-title
            |  Y
          .roll-title
            |  Z
  .row
    .col-lg-6
      .widget-container
        .heading
          i.icon-calendar
          |  Calendar
          i.icon-plus.pull-right
          i.icon-refresh.pull-right
        .widget-content.padded
          #calendar
    .col-lg-6
      .widget-container.scrollable.chat
        .heading
          i.icon-comments
          |  Chat Widget
          i.icon-smile.pull-right
        .widget-content.padded.scrollbar
          ul
            li
              img[alt="Avatar male" height="50" src="avatar-male.jpg" width="50"]
              .bubble
                a.user-name[href="widgets"]
                  | John Smith
                p.message
                  |  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                em.time
                  i.icon-time
                  | 10 min ago
            li.current-user
              img[alt="Avatar female" height="50" src="avatar-female.jpg" width="50"]
              .bubble
                a.user-name[href="widgets"]
                  | Jane Smith
                p.message
                  |  Donec odio. Quisque volutpat mattis eros.
                em.time
                  i.icon-time
                  | 10 min ago
            li
              img[alt="Avatar male" height="50" src="avatar-male.jpg" width="50"]
              .bubble
                a.user-name[href="widgets"]
                  | John Smith
                p.message
                  |  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                em.time
                  i.icon-time
                  | 10 min ago
            li
              img[alt="Avatar male" height="50" src="avatar-male.jpg" width="50"]
              .bubble
                a.user-name[href="widgets"]
                  | John Smith
                p.message
                  |  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                em.time
                  i.icon-time
                  | 10 min ago
        .post-message
          input.form-control[placeholder="Write your message here…" type="text"]
          input.btn.btn-primary[type="submit" value="Post"]
